@font-face {
   font-family: 'Vazir-Bold-FD';
   font-display: swap;
   src: url('Vazir-Bold-FD/font.woff');
}
@font-face {
   font-family: 'Parastoo-FD';
   font-display: swap;
   src: url('Parastoo-FD/font.woff');
}
@font-face {
   font-family: 'Vazir-Medium-FD';
   font-display: swap;
   src: url('Vazir-Medium-FD/font.woff');
}
