@font-face {
   font-family: 'Vazir-Medium-FD-WOL';
   font-display: swap;
   src: url('file:///C:/Users/Alidousti/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-04-16_191630/fonts/Vazir-Medium-FD-WOL/font.woff');
}
