@font-face {
   font-family: 'IRANSansXFaNum-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Alidousti/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-12_125539/fonts/IRANSansXFaNum-Regular/font.woff');
}
